@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;  
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    color: #474747;
  }
header{
    display: flex;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 10px #8d8d8d42 ;
    background-color: rgb(255, 255, 255);
}
header a{
    color: #000000;
}
header .logo{
    
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}  
.logo img{
    width: 100px;
}
.menu{
    border-top: solid #acacac 1px;
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
    width: 90%;
}
.secao {
    flex-grow: 1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    position: relative;
}
.secao:hover{
    box-shadow: 5px 5px 10px #8d8d8d42 ;
    background-color:#cecece;
    cursor: pointer;
}
 .drop_itens {
    display: none;
    position: absolute;
    margin-top: 15px;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px #8d8d8d42 ;
    list-style: none;
}
.item {
    padding: 15px;
}


#dropdown:hover .drop_itens{
    display: block;
}

.item:hover{
    background-color:#ececec;
    box-shadow: 5px 5px 10px #8d8d8d42 ;

}
.informacoes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-top: 5px;
    border-bottom: solid #acacac 1px;
}
.inf{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}
.inf img{
    height: 40px;
    display: block;
}
.inf_text{
    text-align: left;
    line-height: 23px;
    margin-left: 20px;
}

.whats{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 10px;
    width: 200px;
    height: 40px;
    border-radius: 15px 15px 0 0;
    background-color: #57bb63;
    color: white;
}
.whats img{
    height: 55%;
}
.whats a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}
.whats:hover{
    cursor:pointer;
    height: 45px;
}
main{
    display: flex;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    border-bottom: solid #acacac 1px;

}
.prod_img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    width: 60%;
    height: 100%;
}
.prod_img img{
    width: 100%;
    height: auto;
}
.form{
    width: 40%;
    padding: 20px;
}
.nome_preco_produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding-bottom: 20px;
    border-bottom: solid #acacac 1px;
    text-align: left;
}
.nome_preco_produto h2{
    font-size: 14pt;
    text-align: left;
    color: #303030;
    text-transform: uppercase; 
}
.nome_preco_produto p{
    color: #474747;
    font-size: 13pt;
    font-weight: bolder;
    font-family: "Quicksand", sans-serif;
}
.preco_produto {
    margin-top: 10px;
}
.preco_produto p{
    font-family: "Quicksand", sans-serif;
}
.style_input_group{
    margin-top: 10px;
    display: flex;

}
.style_input_group input[type="radio"]{
    display: none;
}

.style_input_group label {
    display: flex;
    justify-content: center;
    margin: 3px;
    width: 35px;
    height: 45px;
    border-radius: 2px;
    cursor: pointer;
}
.style_input_group label .cont_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    text-align: center;
}

.style_input_group input[type=radio]:checked + label{
    border-bottom:solid black 2px ;
}

.style_input_group input[type=radio]:checked + label .cont_input{
    font-weight: bold;
} 
.style_input_group label #roxo_cor{
    background-color: #976df8;
}
.style_input_group label #vermelho_cor{
    background-color: #972626;
}

.style_input_group label #verde_cor{
    background-color: #44584f;
}

.style_input_group label #branco_cor{
    background-color: #d6d6d6;
}

.style_input_group label #preto_cor{
    background-color: #242424;
}
.style_input_group label #marrom_cor{
    background-color: #c27a37;
}
.input_number{
    margin-top: 15px;
    padding-bottom: 3cqh;
    border-bottom: solid #acacac 1px;
}
.input_number input[type=number]{
    width: 35px;
    text-align: center;
    font-family: "Quicksand", sans-serif ;
    height: 45px;
    font-size: 13pt;
    
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.finalizar_compra{
    border: none;
    border-radius: 2px;
    font-weight: bold;
    background-color: #bdbdbd;
    width: 100%;
    margin-top: 30px;
    padding: 15px;
}
.finalizar_compra:hover{
    cursor: pointer;
    padding: 16px;
    background-color: #9e9e9e;
}
.desc_produto{
    padding: 20px 0 20px 0;
    border-top: solid #acacac 1px;
    border-bottom: solid #acacac 1px;
    margin-top: 30px;
    width: 100%;
    height: auto;
}
.desc_produto ul{
    margin-top: 20px;
    line-height: 25px;
    list-style-type: square;
    list-style-position: inside;
    font-size: 11pt;
    padding-left: 10px; 

}
.tab_medidas{
    padding: 20px 0 30px 0;
    width: 100%;
    height: auto;
}

.tab_medidas th,td,table{
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #cecece;
}
.tab_medidas td{
    font-family: "Quicksand", sans-serif;
}
.tab_medidas th{
    color: #303030;
    font-family: "Quicksand", sans-serif;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 275px;
    background-color: rgba(141, 141, 141, 0.281);
}
#atend{
    font-size: 13pt;
    margin-top: 20px;
    color: #494949;

}
.contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 50%;

}
.redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(163, 163, 163);
    width: 70px;
    height: 70px;
}
.redes_sociais img{
    width: 60%;
}
#rede_wha{
    padding-left: 7%;
}
#rede_ins img{
    width: 50%;
}
.direitos_aut{
    text-align: center;
}
.direitos_aut b{
    color: #494949;
}

.redes_sociais:hover{
    padding: 2px;
}